snakemake/databases/ filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/porin_databases/phoE_Ecoli_db.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/queries/Ec_805207-20.fasta filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/queries/GCF_017357505.fasta filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/porin_databases/ompC_Ecoli_db.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/porin_databases/ompF_Ecoli_db.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/examples/porin_databases/oprD_P_aeruginosa_db.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/AC_carO.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/AC_omp33-36kDa.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/KL_ompK36.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/KL_OmpK36_promoter_300bp_plus_100.fasta filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/PA_oprD.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/KL_ompK35.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/KL_OmpK35_promoter_300bp_plus_100.fasta filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/AC_occAB1.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/EC_ompC.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/EC_ompF.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/ENT_ompC.faa filter=lfs diff=lfs merge=lfs -text
snakemake/databases/V0/ENT_ompF.faa filter=lfs diff=lfs merge=lfs -text
